:root {
    --alto: #D1D1D1;
    --prussian-blue: #002F4D;
    --mine-shaft: #3E3E3E;
    --aggie-maroon: #500000;
    --barley-white: #FFEFCE;
    overscroll-behavior: none;
}

/*all elements and anything after and before */
*,
*::after,
*::before {
    /* the width and height calculations include the padding and border */
    box-sizing: border-box;
}

/* Home page start */
.html {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

body {
    margin: 0;
    color: white;
    font-family: "Raleway", sans-serif;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}


.main-wrapper {
    padding: 2.5rem 20%;
    padding-left: 1.88rem;
    padding-right: 1.88rem;
    background: radial-gradient(50% 50% at 50% 50%, #500000 0%, #4E0000 28.5%, #4E0017 50%, #000 100%);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.375rem;
    height: 5.75rem;
    border-radius: 2.438rem;
    color: var(--alto);
    background: var(--aggie-maroon);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
}

header {
    width: 100%;
    height: auto;
    margin-bottom: 2.125rem;
}

/* Styling navbar*/

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 3.25rem;
    position: relative;
    z-index: 1;
}

nav .top-logo img {
    width: 11rem;
    height: 4.389rem;
}

nav .top-logo {
    display: flex;
    flex-direction: column;
}

nav .top-logo a {
    color: var(--alto);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.navburger-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 7.44rem;
    padding-right: 2.7rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 1em;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

nav ul li a {
    color: var(--alto);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.burger-links {
    display: none;
}


/* end of navbar styling */

.hero-section {
    display: flex;
    width: 100%;
    align-items: top;
    justify-content: space-between;
    padding-top: 11.125rem;
}


.hero-section .left h3 {
    color: var(--barley-white);
    /* turtle website subheading 1 */
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}


.hero-section .left h1 {
    color: var(--barley-white);
    /* turtle website h1 */
    font-family: Raleway;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 500;
}

.hero-section .turtle-painting img {
    width: 20rem;
    height: 20rem;
    border-radius: 1.875rem;
}

/* mission section */

.mission-section {
    background: var(--mine-shaft);
    border-radius: 1.875rem;
    padding-top: 3.418rem;
    padding-bottom: 4.537rem;
    margin-bottom: 2.688rem;
}

.mission-section h3 {
    text-align: center;
    color: var(--alto);
    /* turtle website subheading 1 */
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.mission-section p {
    /* turtle website largest body text */
    text-align: center;
    color: var(--alto);
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
}

/* mission section end */

/* featured project section */
.featured-project-section {
    background: white;
    border-radius: 1.875rem;
    padding-top: 2.875rem;
    padding-bottom: 1.813rem;
    padding-left: 2.688rem;
}


.project-card {
    display: flex;
}

.featured-project-description {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.featured-project-section img {
    width: 19.03rem;
    height: 17.938rem;
    border-radius: 1.875rem;
}

.featured-project-section h2 {
    text-align: left;
    color: black;
    /* turtle website subheading 1 */
    font-family: Raleway;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
}

.featured-project-section p {
    color: black;
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
}


/* featured project section end */

.get-involved-section {
    margin-top: 3.125rem;
    padding-left: 1.88rem;
    padding-right: 1.88rem;
}

.get-involved-section h2 {
    color: var(--barley-white);
    /* turtle website h2 */
    font-family: Raleway;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
}

.get-involved-section p {
    color: var(--barley-white);
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
}

.join-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.join-card .btn {
    margin-top: 5rem;
}

.join-card img {
    max-width: 43.25rem;
    max-height: 16.125rem;
    border-radius: 1.875rem;
}

.partner-box {
    text-align: center;
    color: #000;
    border-radius: 1.875rem;
    background-color: white;
    padding-top: 2.38rem;
}

.partner-box h2 {
    color: black;
    /* turtle website h2 */
    font-family: Raleway;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
}

.partner-box img {
    width: 41.8125rem;
    height: 14.875rem;
}

.contact-us-section {
    margin: 5rem 0px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #D1D1D1;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.06rem;
    padding: 0.938rem 32%;
    color: #000;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.87rem;
    padding: 0.938rem 32%;
    color: #000;
}

.icon-wrapper>div {
    cursor: pointer;
}

.footer-links a {
    color: var(--mine-shaft);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

.footer-logo {
    padding-top: 1.875rem;
    width: 100%;
    height: 4.38863rem;
    display: flex;
    justify-content: center;
}

.footer-img {
    width: 4.34025rem;
    height: 3.125rem;
}

/* End of homepage styling */

/* Research page styling */

.hero-section .screwdriver img {
    width: 20rem;
    height: 20rem;
}

.learn-more {
    margin-bottom: 3.06rem;
    color: var(--barley-white);
    /* turtle website h1 */
    font-family: Raleway;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 500;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1.63rem;
}

.project-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 1.875rem;
    height: fit-content;
}

.project-wrapper:nth-child(even) {
    background-color: #D1D1D1;
}

.project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.project-name-grey {
    padding-left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--alto);
    /* turtle website h2 */
    font-family: Raleway;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 152.941% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}

.project-name-white {
    padding-left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* turtle website h2 */
    font-family: Raleway;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 152.941% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}



.chevron {
    width: 3.6875rem;
    height: 3.6875rem;
    transform: rotate(-90deg);
    margin-right: 2.5rem;
    transition: transform 0.3s ease-in-out;
    color: black;
}

.chevron.active {
    transform: rotate(90deg);
}

.expandable {
    display: block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.project-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project-description {
    margin-left: 2.5rem;
    padding-bottom: 2.5rem;
}

.looking-for {
    margin-right: 2.5rem;
}

.looking-for-heading-grey {
    color: var(--alto);

    /* turtle website subheading 1 */
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.looking-for-heading-white {
    color: black;
    /* turtle website subheading 1 */
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.desired-traits-grey {
    color: var(--alto);
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 185.714% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}

.desired-traits-white {
    color: black;
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 185.714% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}


.description-text-grey {
    color: var(--alto);
    width: 39.125rem;
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 185.714% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);

}

.description-text-white {
    color: black;
    width: 39.125rem;
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    /* 185.714% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}



.beest-project-vid {
    width: 20rem;
    height: 20rem;
    border-radius: 1.875rem;
}

.placeholder img {
    width: 20rem;
    height: 20rem;
    border-radius: 1.875rem;
}

/* End of research page styling */

/* Contact page styling */
.contact-section {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 11.125rem;
    flex-direction: column;
}

.contact-section h1 {
    color: var(--barley-white);
    /* turtle website h1 */
    font-family: Raleway;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4.5rem;
}

.contact-form {
    display: flex;
    align-items: center;
    height: 46.813rem;
    width: 100%;
    gap: 3.69rem;
    margin-top: 2.87rem;
    flex-direction: column;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--alto);
    border-radius: 1.875rem;
    width: 100%;
    height: 51.8125rem;
}

.contact-inputs {
    background-color: var(--mine-shaft);
    border-radius: 1.875rem;
    /* turtle website largest body text */
    color: var(--alto);
    border: none;
    outline: none;
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    padding-left: 2.52rem;
    padding-top: .1rem;
}

.contact-wrapper input {
    width: 90%;
    height: 5.0625rem;
}

.contact-wrapper textarea {
    width: 90%;
    height: 19.875rem;
    padding-top: 1.6rem;
}

.contact-inputs::placeholder {
    color: var(--alto);
    opacity: 46%;
    /* nav link */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.contact-inputs:focus {
    border: 0.5rem solid black;
}


/* End of contact page styling */

/* about page styling */
.about-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-card-row {
    display: flex;
    justify-content: center;
    gap: 2.06rem;
}

.left p {
    color: var(--barley-white);
    /* turtle website largest body text */
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Medium-Line-Height, 3.25rem);
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
}

.info img {
    display: flex;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.about-card-black {
    color: var(--alto);
    background-color: black;
    border-radius: 1.875rem;
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.about-card-grey {
    color: var(--alto);
    background-color: var(--mine-shaft);
    border-radius: 1.875rem;
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.about-card-white {
    color: black;
    background-color: white;
    border-radius: 1.875rem;
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
}


.about-person-icon {
    width: 6.5rem;
    height: 6.5rem;
    padding-left: 1.81rem;
}

.about-card-position {
    padding-top: 2.06rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    margin: 0;
    height: auto;
    /* turtle website small subheading */
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.about-card-name {
    padding: .1rem;
    padding-bottom: .2rem;
    margin: .1rem;
    height: auto;
    /* turtle website h3 */
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    /* 216.667% */
    letter-spacing: var(--Display-Medium-Tracking, 0rem);
    text-transform: capitalize;
}

.about-card-right img {
    padding: .1rem;
    width: 2.02944rem;
    height: 1.4375rem;
}

.about-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.37rem;
    padding-right: 2.25rem;
    padding-bottom: 1.94rem;
}

/* end of about page styling */

@media (min-width: 2000) {
    html {
        font-size: 180%;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 170%;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 160%;
    }
}

@media (min-width: 1700px) {
    html {
        font-size: 150%;
    }
}


@media (min-width: 1600px) {
    html {
        font-size: 140%;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 130%;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 120%;
    }
}


@media (min-width: 1300px) {
    html {
        font-size: 110%;
    }
}



@media (max-width: 1100px) {

    html {
        font-size: 90%;
    }


}

@media (max-width: 1000px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 40%;
    }

    nav ul {
        display: none;
    }

    .hamburger {
        display: flex;
        z-index: 100;
        position: fixed;
        flex-direction: column;
        align-items: end;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        background-color: #000;
        border-radius: 3em;
    }

    .burger-links {
        display: flex;
        flex-direction: column;
        background: #3E3E3Ed3;
        backdrop-filter: 1rem;
        border-radius: 3em;
        padding: 5em;
        position: fixed;
        inset: 0 0 0 30%;
        height: 40vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .burger-links[data-visible="true"] {
        transform: translateX(0%);
    }

    .burger-link {
        height: 3em;
        width: 33vh;
        text-align: center;
        font-size: 3em;
    }

    .burger-link a {
        color: var(--alto);
        font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        text-decoration: none;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.3rem;
        height: 4rem;
        border-radius: 2.438rem;
        color: var(--alto);
        background: var(--aggie-maroon);
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: none;
        border: none;
    }

    /* homepage styling */
    .join-card img {
        max-width: 26.82rem;
        max-height: 10rem;
        border-radius: 1.875rem;
    }

    /* end of homepage styling */

    /* research page styling */
    .project-description {
        margin-left: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .looking-for {
        margin-right: 2.5rem;
    }

    .looking-for-heading-grey {
        color: var(--alto);

        /* turtle website subheading 1 */
        font-family: Inter;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    .looking-for-heading-white {
        color: black;
        /* turtle website subheading 1 */
        font-family: Inter;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    .desired-traits-grey {
        color: var(--alto);
        /* turtle website largest body text */
        font-family: Raleway;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--Display-Medium-Line-Height, 2rem);
        /* 185.714% */
        letter-spacing: var(--Display-Medium-Tracking, 0rem);
    }

    .desired-traits-white {
        color: black;
        /* turtle website largest body text */
        font-family: Raleway;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--Display-Medium-Line-Height, 2rem);
        /* 185.714% */
        letter-spacing: var(--Display-Medium-Tracking, 0rem);
    }


    .description-text-grey {
        color: var(--alto);
        width: 15rem;
        /* turtle website largest body text */
        font-family: Raleway;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--Display-Medium-Line-Height, 2rem);
        /* 185.714% */
        letter-spacing: var(--Display-Medium-Tracking, 0rem);

    }

    .description-text-white {
        color: black;
        width: 15rem;
        /* turtle website largest body text */
        font-family: Raleway;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--Display-Medium-Line-Height, 2rem);
        /* 185.714% */
        letter-spacing: var(--Display-Medium-Tracking, 0rem);
    }



    .beest-project-vid {
        width: 15rem;
        height: 15rem;
        border-radius: 1.875rem;
    }

    .placeholder img {
        width: 15rem;
        height: 15rem;
        border-radius: 1.875rem;
    }

    /* end of research page styling */



}

@media (max-width: 500px) {
    html {
        font-size: 30%;
    }


}

@media (max-width: 400px) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 10%;
    }
}